################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SegundoParcialLenguajesVisualesII/copilot-chat/e180b3a8/sessions/435b6878-c7d1-4865-95f6-6d3f890063d3
